# System files
.DS_Store
Thumbs.db
desktop.ini

# Python/Scripting cache and virtual environments
__pycache__/
*.py[cod]
*$py.class
venv/
.env/
env/
.venv/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo


node_modules/

# Ignore custom scripts and logs

git_log.txt
